.backdrop {

}

.backgrop {

}

.formError {
  display: none;
}

#topNavLogo {
  height: 60px;
  width: auto;
}

.header ul li.loggedIn{
  display: none;
}

body.loggedIn .header ul li.loggedIn{
  display: inline-block;
}

body.loggedIn .header ul li.loggedOut{
  display: none;
}

.content .loggedIn {
    display: none;
}

body.loggedIn .content .loggedIn {
  display: inline-block;
}

body.loggedIn .content .loggedOut {
  display: none;
}
