<div class="uk-section uk-background-muted" id="shoppingCart">
  <div class="uk-container">
    <h1 class="uk-heading-primary">Your order</h1>
    <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>Pizza Name</th>
          </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    <a class="uk-button uk-button-primary" id="btnContinueShopping" href="/order">Continue shopping</a>
    <a class="uk-button uk-button-primary" id="btnCheckOut" href="/pay">Check out</a>
  </div>
</div>
