<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
  <div>
    <div
      class="backdrop uk-flex uk-flex-center uk-background-cover uk-dark"
      uk-height-viewport="offset-top: true; offset-bottom: true"
      style="min-height: calc(100vh-200px);"
      data-src="https://source.unsplash.com/1600x900/?pizza"
      uk-img>
    </div>
  </div>

  <div class="uk-padding-large uk-background-muted">

    <div class="uk-dark loggedIn">
      <h1 class="uk-align-center uk-heading-primary">Welcome back</h1>
      <p>Get a grip, dude! You shouldn't be here! If you are lazy to walk down to get your pizza, and you don't mind us ripping you off, you can order from us now.</p>
      <button class="uk-button uk-button-default">order</button>
    </div>

    <div class="uk-padding uk-dark uk-container loggedOut" uk-height-viewport="offset-top: true; offset-bottom: true">
      <h1 class="uk-align-center uk-heading-primary">Pizza for lazy people</h1>
      <p>If you admit you are lazy, then this pizza joint is the right place for you! We deliver pizza right to your door, but you just have to pay a huge delivery fee to us. Hardworking people are not welcome.</p>
      <button class="uk-button uk-button-default" href="/signup">Sign up</button>
      <button class="uk-button uk-button-default" href="/login">Log in</button>
    </div>

  </div>

</div>
