<div class="uk-section uk-background-muted" id="processOrder">
  <div class="uk-container">
    <div class="uk-margin">
      <h1 class="uk-heading-primary">Choose you pizza</h1>
      <p>We don't want you to get fat, so you can only choose 1 pizza each time</p>
    </div>
    <div class="uk-child-width-1-4@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Pepperoni Pizza</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              <h3>$40</h3>
            </div>
            <div class="uk-card-footer">
              <button class="uk-button uk-width-1-1 uk-button-primary" id="pepperoni">order</button>
            </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Magharitta Pizza</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <h3>$30</h3>
            </div>
            <div class="uk-card-footer">
              <button class="uk-button uk-width-1-1 uk-button-primary" id="Magharitta">order</button>
            </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">4-Cheese Pizza</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <h3>$60</h3>
            </div>
            <div class="uk-card-footer">
              <button class="uk-button uk-width-1-1 uk-button-primary" id="4-cheese">order</button>
            </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">400-Cheese Pizza</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <h3>$600</h3>
            </div>
            <div class="uk-card-footer">
              <button class="uk-button uk-width-1-1 uk-button-primary" id="400-cheese">order</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
