<form class="uk-card uk-card-body uk-width-1-3 uk-container" id="signup" action="/api/users" method="POST">
  <fieldset class="uk-fieldset uk-form-stacked">

    <legend class="uk-legend">Sign up</legend>

    <div class="uk-margin">
      <div uk-alert class="formError"></div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="signupName">Name:</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="signupName" name="name" type="text" placeholder="John Smith">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="signupEmail">E-mail:</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="signupEmail" type="text" name="email" placeholder="john@smith.com">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="signupAddress">Address:</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="signupAddress" type="text" name="address" placeholder="52 Henderson Road, Afganistan">
      </div>
    </div>

    <div class="uk-margin">
    <label class="uk-form-label" for="signupPassword">Password:</label>
      <div class="uk-form-controls">
        <input class="uk-input" id="signupPassword" type="password" name="password" placeholder="min. 8 characters">
      </div>
    </div>

    <div class="uk-margin">
      <span>Already a member? log in </span><span><a href="/">here</a>
    </div>

    <div class = "uk-margin">
      <button class="uk-button uk-button-default" type="submit">sign up</button>
    </div>

  </fieldset>
</form>
